.container {
    margin: auto;
    width: 600px;
    background-color: red;
    text-align: center;
}

.header {
    padding: 20px;
}

.container-flex {
    padding: 20px;
}

.footer {
    padding: 20px;
}