body {
    background-color: #CCCCCC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: auto;
    width: 700px;
    text-align: center;
    border-radius: 10px;
    background:  linear-gradient(to bottom, #210D24, #631F6F);
}

.header {
    padding: 20px;
}

.header-title {
    color: #FECD23;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 600;
}

.header-text {
    color: #FAF9FA;
}

.container-mid {
    padding: 20px;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    background:  linear-gradient(to bottom, #641F70, #1E0C21);
}

.form-title {
    color: #FAF9FA;
    font-size: 25px;
    margin-bottom: 20px;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    
}

input {

    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    margin: 15px;
    width: 75%;
}

input:focus {
    outline: none;
}

.footer {
    padding: 20px;
}