body {
    background-color: #CCCCCC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: auto;
    width: 750px;
    text-align: center;
    border-radius: 10px;
    background:  linear-gradient(to bottom, #210D24, #631F6F);
}

.header {
    padding: 20px;
}

.header-title {
    color: #FECD23;
    margin-bottom: 25px;
    font-size: 1.8rem;
    font-weight: 600;
}

.header-text {
    color: #FAF9FA;
    font-size: 1.125rem;
}

.container-mid {
    padding: 20px;
    width: 650px;
    margin: auto;
    border-radius: 10px;
    background:  linear-gradient(to bottom, #641F70, #1E0C21);
}

.form-title {
    color: #FAF9FA;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    
}

input {

    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    margin: 15px;
    width: 75%;
}

input:focus {
    outline: none;
}

.poll-flex {
    color: #FAF9FA;
    display: flex;
    justify-content: space-between;
    
}

.square-1 {
    width: 200px;
    height: 310px;
    background:  linear-gradient(to bottom, #2638DC, #342988);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.square-2 {
    width: 90%;
    height: 90%;
    background:  linear-gradient(to bottom, #3C5CEE, #71CBFE);

}

.square-title {
    margin-top: 20px;
    font-size: 1.8rem;
}

.square-img {
    padding: -10px;
}

button {
    width: 60%;
    padding: 0.9rem;
    color: #FAF9FA;
    font-size: 1.125rem;
    border-radius: 5px;
    border: none;
    background-color: #1D0C20;
    margin-bottom: 25px;
    cursor: pointer;
    text-align: center;
}

.footer {
    padding: 20px;
}

.footer {
    color: #FAF9FA;
    font-size: 0.75rem;
}

@media screen and (max-width: 620px) {

    html {
        font-size: 14px;
    }

    .container {
        width: 95%;
    }

    .container-mid {
        width: 85%;
        box-sizing: border-box;
    }

    .poll-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .square-1 {
        margin-bottom: 20px;;
    }
    
}